<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invenia.gwservice.api.board.BoardMapper">
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from BOARD
    where BOARDNO = #{boardno,jdbcType=INTEGER}
    and BOARDINFONO = #{boardinfono,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.invenia.gwservice.api.board.Board">
    insert into BOARD (BOARDNO, BOARDINFONO, TITLE,
    USERNAME, DEPTNAME, RANKNAME,
    "SECURITY", IMPORTANT, "STATE",
    "TYPE", REGISTDATE, HIT,
    ATTACHYN, RESERVATIONYN, MODIFYDATE,
    USERID, STARTDATE, ENDDATE,
    USERNO, FILENO, NOTICEYN,
    CACDATE, ACTIVEYN, SENDDATE,
    CONTENTMODE, TAG, AGREECNT,
    OPPOSECNT, LINK, LINKCONTENT,
    ENTRYDATE, FIXVIEW, NOTICESTARTDATE,
    NOTICEENDDATE, NOTICERESERVEYN)
    values (#{boardno,jdbcType=INTEGER}, #{boardinfono,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
    #{username,jdbcType=VARCHAR}, #{deptname,jdbcType=VARCHAR}, #{rankname,jdbcType=VARCHAR},
    #{security,jdbcType=CHAR}, #{important,jdbcType=CHAR}, #{state,jdbcType=INTEGER},
    #{type,jdbcType=VARCHAR}, #{registdate,jdbcType=DATE}, #{hit,jdbcType=INTEGER},
    #{attachyn,jdbcType=CHAR}, #{reservationyn,jdbcType=CHAR}, #{modifydate,jdbcType=DATE},
    #{userid,jdbcType=VARCHAR}, #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR},
    #{userno,jdbcType=VARCHAR}, #{fileno,jdbcType=VARCHAR}, #{noticeyn,jdbcType=CHAR},
    #{cacdate,jdbcType=VARCHAR}, #{activeyn,jdbcType=CHAR}, #{senddate,jdbcType=DATE},
    #{contentmode,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{agreecnt,jdbcType=INTEGER},
    #{opposecnt,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, #{linkcontent,jdbcType=VARCHAR},
    #{entrydate,jdbcType=VARCHAR}, #{fixview,jdbcType=CHAR}, #{noticestartdate,jdbcType=VARCHAR},
    #{noticeenddate,jdbcType=VARCHAR}, #{noticereserveyn,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.invenia.gwservice.api.board.Board">
    insert into BOARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boardno != null">
        BOARDNO,
      </if>
      <if test="boardinfono != null">
        BOARDINFONO,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="deptname != null">
        DEPTNAME,
      </if>
      <if test="rankname != null">
        RANKNAME,
      </if>
      <if test="security != null">
        "SECURITY",
      </if>
      <if test="important != null">
        IMPORTANT,
      </if>
      <if test="state != null">
        "STATE",
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="registdate != null">
        REGISTDATE,
      </if>
      <if test="hit != null">
        HIT,
      </if>
      <if test="attachyn != null">
        ATTACHYN,
      </if>
      <if test="reservationyn != null">
        RESERVATIONYN,
      </if>
      <if test="modifydate != null">
        MODIFYDATE,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="startdate != null">
        STARTDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="userno != null">
        USERNO,
      </if>
      <if test="fileno != null">
        FILENO,
      </if>
      <if test="noticeyn != null">
        NOTICEYN,
      </if>
      <if test="cacdate != null">
        CACDATE,
      </if>
      <if test="activeyn != null">
        ACTIVEYN,
      </if>
      <if test="senddate != null">
        SENDDATE,
      </if>
      <if test="contentmode != null">
        CONTENTMODE,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="agreecnt != null">
        AGREECNT,
      </if>
      <if test="opposecnt != null">
        OPPOSECNT,
      </if>
      <if test="link != null">
        LINK,
      </if>
      <if test="linkcontent != null">
        LINKCONTENT,
      </if>
      <if test="entrydate != null">
        ENTRYDATE,
      </if>
      <if test="fixview != null">
        FIXVIEW,
      </if>
      <if test="noticestartdate != null">
        NOTICESTARTDATE,
      </if>
      <if test="noticeenddate != null">
        NOTICEENDDATE,
      </if>
      <if test="noticereserveyn != null">
        NOTICERESERVEYN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boardno != null">
        #{boardno,jdbcType=INTEGER},
      </if>
      <if test="boardinfono != null">
        #{boardinfono,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="rankname != null">
        #{rankname,jdbcType=VARCHAR},
      </if>
      <if test="security != null">
        #{security,jdbcType=CHAR},
      </if>
      <if test="important != null">
        #{important,jdbcType=CHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="registdate != null">
        #{registdate,jdbcType=DATE},
      </if>
      <if test="hit != null">
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="attachyn != null">
        #{attachyn,jdbcType=CHAR},
      </if>
      <if test="reservationyn != null">
        #{reservationyn,jdbcType=CHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=DATE},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="userno != null">
        #{userno,jdbcType=VARCHAR},
      </if>
      <if test="fileno != null">
        #{fileno,jdbcType=VARCHAR},
      </if>
      <if test="noticeyn != null">
        #{noticeyn,jdbcType=CHAR},
      </if>
      <if test="cacdate != null">
        #{cacdate,jdbcType=VARCHAR},
      </if>
      <if test="activeyn != null">
        #{activeyn,jdbcType=CHAR},
      </if>
      <if test="senddate != null">
        #{senddate,jdbcType=DATE},
      </if>
      <if test="contentmode != null">
        #{contentmode,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="agreecnt != null">
        #{agreecnt,jdbcType=INTEGER},
      </if>
      <if test="opposecnt != null">
        #{opposecnt,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkcontent != null">
        #{linkcontent,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null">
        #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="fixview != null">
        #{fixview,jdbcType=CHAR},
      </if>
      <if test="noticestartdate != null">
        #{noticestartdate,jdbcType=VARCHAR},
      </if>
      <if test="noticeenddate != null">
        #{noticeenddate,jdbcType=VARCHAR},
      </if>
      <if test="noticereserveyn != null">
        #{noticereserveyn,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.invenia.gwservice.api.board.Board">
    <!--@Table BOARD-->
    <id column="BOARDNO" jdbcType="INTEGER" property="boardno"/>
    <id column="BOARDINFONO" jdbcType="INTEGER" property="boardinfono"/>
    <result column="TITLE" jdbcType="VARCHAR" property="title"/>
    <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
    <result column="DEPTNAME" jdbcType="VARCHAR" property="deptname"/>
    <result column="RANKNAME" jdbcType="VARCHAR" property="rankname"/>
    <result column="SECURITY" jdbcType="CHAR" property="security"/>
    <result column="IMPORTANT" jdbcType="CHAR" property="important"/>
    <result column="STATE" jdbcType="INTEGER" property="state"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    <result column="REGISTDATE" jdbcType="DATE" property="registdate"/>
    <result column="HIT" jdbcType="INTEGER" property="hit"/>
    <result column="ATTACHYN" jdbcType="CHAR" property="attachyn"/>
    <result column="RESERVATIONYN" jdbcType="CHAR" property="reservationyn"/>
    <result column="MODIFYDATE" jdbcType="DATE" property="modifydate"/>
    <result column="USERID" jdbcType="VARCHAR" property="userid"/>
    <result column="STARTDATE" jdbcType="VARCHAR" property="startdate"/>
    <result column="ENDDATE" jdbcType="VARCHAR" property="enddate"/>
    <result column="USERNO" jdbcType="VARCHAR" property="userno"/>
    <result column="FILENO" jdbcType="VARCHAR" property="fileno"/>
    <result column="NOTICEYN" jdbcType="CHAR" property="noticeyn"/>
    <result column="CACDATE" jdbcType="VARCHAR" property="cacdate"/>
    <result column="ACTIVEYN" jdbcType="CHAR" property="activeyn"/>
    <result column="SENDDATE" jdbcType="DATE" property="senddate"/>
    <result column="CONTENTMODE" jdbcType="VARCHAR" property="contentmode"/>
    <result column="TAG" jdbcType="VARCHAR" property="tag"/>
    <result column="AGREECNT" jdbcType="INTEGER" property="agreecnt"/>
    <result column="OPPOSECNT" jdbcType="INTEGER" property="opposecnt"/>
    <result column="LINK" jdbcType="VARCHAR" property="link"/>
    <result column="LINKCONTENT" jdbcType="VARCHAR" property="linkcontent"/>
    <result column="ENTRYDATE" jdbcType="VARCHAR" property="entrydate"/>
    <result column="FIXVIEW" jdbcType="CHAR" property="fixview"/>
    <result column="NOTICESTARTDATE" jdbcType="VARCHAR" property="noticestartdate"/>
    <result column="NOTICEENDDATE" jdbcType="VARCHAR" property="noticeenddate"/>
    <result column="NOTICERESERVEYN" jdbcType="CHAR" property="noticereserveyn"/>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from BOARD
    where BOARDNO = #{boardno,jdbcType=INTEGER}
    and BOARDINFONO = #{boardinfono,jdbcType=INTEGER}
  </select>
  <sql id="Base_Column_List">
    BOARDNO,
    BOARDINFONO,
    TITLE,
    USERNAME,
    DEPTNAME,
    RANKNAME,
    "SECURITY",
    IMPORTANT,
    "STATE",
    "TYPE",
    REGISTDATE,
    HIT,
    ATTACHYN,
    RESERVATIONYN,
    MODIFYDATE,
    USERID,
    STARTDATE,
    ENDDATE,
    USERNO,
    FILENO,
    NOTICEYN,
    CACDATE,
    ACTIVEYN,
    SENDDATE,
    CONTENTMODE,
    TAG,
    AGREECNT,
    OPPOSECNT,
    LINK,
    LINKCONTENT,
    ENTRYDATE,
    FIXVIEW,
    NOTICESTARTDATE,
    NOTICEENDDATE,
    NOTICERESERVEYN
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.invenia.gwservice.api.board.Board">
    update BOARD
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null">
        DEPTNAME = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="rankname != null">
        RANKNAME = #{rankname,jdbcType=VARCHAR},
      </if>
      <if test="security != null">
        "SECURITY" = #{security,jdbcType=CHAR},
      </if>
      <if test="important != null">
        IMPORTANT = #{important,jdbcType=CHAR},
      </if>
      <if test="state != null">
        "STATE" = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        "TYPE" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="registdate != null">
        REGISTDATE = #{registdate,jdbcType=DATE},
      </if>
      <if test="hit != null">
        HIT = #{hit,jdbcType=INTEGER},
      </if>
      <if test="attachyn != null">
        ATTACHYN = #{attachyn,jdbcType=CHAR},
      </if>
      <if test="reservationyn != null">
        RESERVATIONYN = #{reservationyn,jdbcType=CHAR},
      </if>
      <if test="modifydate != null">
        MODIFYDATE = #{modifydate,jdbcType=DATE},
      </if>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        STARTDATE = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="userno != null">
        USERNO = #{userno,jdbcType=VARCHAR},
      </if>
      <if test="fileno != null">
        FILENO = #{fileno,jdbcType=VARCHAR},
      </if>
      <if test="noticeyn != null">
        NOTICEYN = #{noticeyn,jdbcType=CHAR},
      </if>
      <if test="cacdate != null">
        CACDATE = #{cacdate,jdbcType=VARCHAR},
      </if>
      <if test="activeyn != null">
        ACTIVEYN = #{activeyn,jdbcType=CHAR},
      </if>
      <if test="senddate != null">
        SENDDATE = #{senddate,jdbcType=DATE},
      </if>
      <if test="contentmode != null">
        CONTENTMODE = #{contentmode,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        TAG = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="agreecnt != null">
        AGREECNT = #{agreecnt,jdbcType=INTEGER},
      </if>
      <if test="opposecnt != null">
        OPPOSECNT = #{opposecnt,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        LINK = #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkcontent != null">
        LINKCONTENT = #{linkcontent,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null">
        ENTRYDATE = #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="fixview != null">
        FIXVIEW = #{fixview,jdbcType=CHAR},
      </if>
      <if test="noticestartdate != null">
        NOTICESTARTDATE = #{noticestartdate,jdbcType=VARCHAR},
      </if>
      <if test="noticeenddate != null">
        NOTICEENDDATE = #{noticeenddate,jdbcType=VARCHAR},
      </if>
      <if test="noticereserveyn != null">
        NOTICERESERVEYN = #{noticereserveyn,jdbcType=CHAR},
      </if>
    </set>
    where BOARDNO = #{boardno,jdbcType=INTEGER}
    and BOARDINFONO = #{boardinfono,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.invenia.gwservice.api.board.Board">
    update BOARD
    set TITLE = #{title,jdbcType=VARCHAR},
    USERNAME = #{username,jdbcType=VARCHAR},
    DEPTNAME = #{deptname,jdbcType=VARCHAR},
    RANKNAME = #{rankname,jdbcType=VARCHAR},
    "SECURITY" = #{security,jdbcType=CHAR},
    IMPORTANT = #{important,jdbcType=CHAR},
    "STATE" = #{state,jdbcType=INTEGER},
    "TYPE" = #{type,jdbcType=VARCHAR},
    REGISTDATE = #{registdate,jdbcType=DATE},
    HIT = #{hit,jdbcType=INTEGER},
    ATTACHYN = #{attachyn,jdbcType=CHAR},
    RESERVATIONYN = #{reservationyn,jdbcType=CHAR},
    MODIFYDATE = #{modifydate,jdbcType=DATE},
    USERID = #{userid,jdbcType=VARCHAR},
    STARTDATE = #{startdate,jdbcType=VARCHAR},
    ENDDATE = #{enddate,jdbcType=VARCHAR},
    USERNO = #{userno,jdbcType=VARCHAR},
    FILENO = #{fileno,jdbcType=VARCHAR},
    NOTICEYN = #{noticeyn,jdbcType=CHAR},
    CACDATE = #{cacdate,jdbcType=VARCHAR},
    ACTIVEYN = #{activeyn,jdbcType=CHAR},
    SENDDATE = #{senddate,jdbcType=DATE},
    CONTENTMODE = #{contentmode,jdbcType=VARCHAR},
    TAG = #{tag,jdbcType=VARCHAR},
    AGREECNT = #{agreecnt,jdbcType=INTEGER},
    OPPOSECNT = #{opposecnt,jdbcType=INTEGER},
    LINK = #{link,jdbcType=VARCHAR},
    LINKCONTENT = #{linkcontent,jdbcType=VARCHAR},
    ENTRYDATE = #{entrydate,jdbcType=VARCHAR},
    FIXVIEW = #{fixview,jdbcType=CHAR},
    NOTICESTARTDATE = #{noticestartdate,jdbcType=VARCHAR},
    NOTICEENDDATE = #{noticeenddate,jdbcType=VARCHAR},
    NOTICERESERVEYN = #{noticereserveyn,jdbcType=CHAR}
    where BOARDNO = #{boardno,jdbcType=INTEGER}
    and BOARDINFONO = #{boardinfono,jdbcType=INTEGER}
  </update>
</mapper>
