<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invenia.gwservice.api.notice.NoticeMapper">
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete
    from NOTICE
    where BOARDNO = #{boardno}
    and BOARDINFONO = #{boardinfono}
  </delete>
  <insert id="insert" parameterType="com.invenia.gwservice.api.notice.Notice">
    insert into NOTICE (BOARDNO, BOARDINFONO, TITLE, USERNAME, DEPTNAME, RANKNAME,
    "SECURITY", IMPORTANT, "STATE", "TYPE", REGISTDATE, HIT, ATTACHYN,
    RESERVATIONYN, MODIFYDATE, USERID, STARTDATE, ENDDATE, USERNO,
    FILENO, NOTICEYN, ACTIVEYN, TAG, CONTENTMODE, ENTRYDATE, ENTRYDEPT,
    FIXVIEW, NOTICESTARTDATE, NOTICEENDDATE, NOTICERESERVEYN, LOGINYN)
    values (#{boardno}, #{boardinfono}, #{title}, #{username}, #{deptname}, #{rankname},
    #{security}, #{important}, #{state}, #{type}, #{registdate}, #{hit}, #{attachyn},
    #{reservationyn}, #{modifydate}, #{userid}, #{startdate}, #{enddate}, #{userno},
    #{fileno}, #{noticeyn}, #{activeyn}, #{tag}, #{contentmode}, #{entrydate}, #{entrydept},
    #{fixview}, #{noticestartdate}, #{noticeenddate}, #{noticereserveyn}, #{loginyn})
  </insert>
  <insert id="insertSelective" parameterType="com.invenia.gwservice.api.notice.Notice">
    insert into NOTICE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="boardno != null">
        BOARDNO,
      </if>
      <if test="boardinfono != null">
        BOARDINFONO,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="deptname != null">
        DEPTNAME,
      </if>
      <if test="rankname != null">
        RANKNAME,
      </if>
      <if test="security != null">
        "SECURITY",
      </if>
      <if test="important != null">
        IMPORTANT,
      </if>
      <if test="state != null">
        "STATE",
      </if>
      <if test="type != null">
        "TYPE",
      </if>
      <if test="registdate != null">
        REGISTDATE,
      </if>
      <if test="hit != null">
        HIT,
      </if>
      <if test="attachyn != null">
        ATTACHYN,
      </if>
      <if test="reservationyn != null">
        RESERVATIONYN,
      </if>
      <if test="modifydate != null">
        MODIFYDATE,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="startdate != null">
        STARTDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="userno != null">
        USERNO,
      </if>
      <if test="fileno != null">
        FILENO,
      </if>
      <if test="noticeyn != null">
        NOTICEYN,
      </if>
      <if test="activeyn != null">
        ACTIVEYN,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="contentmode != null">
        CONTENTMODE,
      </if>
      <if test="entrydate != null">
        ENTRYDATE,
      </if>
      <if test="entrydept != null">
        ENTRYDEPT,
      </if>
      <if test="fixview != null">
        FIXVIEW,
      </if>
      <if test="noticestartdate != null">
        NOTICESTARTDATE,
      </if>
      <if test="noticeenddate != null">
        NOTICEENDDATE,
      </if>
      <if test="noticereserveyn != null">
        NOTICERESERVEYN,
      </if>
      <if test="loginyn != null">
        LOGINYN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="boardno != null">
        #{boardno},
      </if>
      <if test="boardinfono != null">
        #{boardinfono},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="deptname != null">
        #{deptname},
      </if>
      <if test="rankname != null">
        #{rankname},
      </if>
      <if test="security != null">
        #{security},
      </if>
      <if test="important != null">
        #{important},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="registdate != null">
        #{registdate},
      </if>
      <if test="hit != null">
        #{hit},
      </if>
      <if test="attachyn != null">
        #{attachyn},
      </if>
      <if test="reservationyn != null">
        #{reservationyn},
      </if>
      <if test="modifydate != null">
        #{modifydate},
      </if>
      <if test="userid != null">
        #{userid},
      </if>
      <if test="startdate != null">
        #{startdate},
      </if>
      <if test="enddate != null">
        #{enddate},
      </if>
      <if test="userno != null">
        #{userno},
      </if>
      <if test="fileno != null">
        #{fileno},
      </if>
      <if test="noticeyn != null">
        #{noticeyn},
      </if>
      <if test="activeyn != null">
        #{activeyn},
      </if>
      <if test="tag != null">
        #{tag},
      </if>
      <if test="contentmode != null">
        #{contentmode},
      </if>
      <if test="entrydate != null">
        #{entrydate},
      </if>
      <if test="entrydept != null">
        #{entrydept},
      </if>
      <if test="fixview != null">
        #{fixview},
      </if>
      <if test="noticestartdate != null">
        #{noticestartdate},
      </if>
      <if test="noticeenddate != null">
        #{noticeenddate},
      </if>
      <if test="noticereserveyn != null">
        #{noticereserveyn},
      </if>
      <if test="loginyn != null">
        #{loginyn},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.invenia.gwservice.api.notice.Notice">
    <!--@Table NOTICE-->
    <id column="BOARDNO" property="boardno"/>
    <id column="BOARDINFONO" property="boardinfono"/>
    <result column="TITLE" property="title"/>
    <result column="USERNAME" property="username"/>
    <result column="DEPTNAME" property="deptname"/>
    <result column="RANKNAME" property="rankname"/>
    <result column="SECURITY" property="security"/>
    <result column="IMPORTANT" property="important"/>
    <result column="STATE" property="state"/>
    <result column="TYPE" property="type"/>
    <result column="REGISTDATE" property="registdate"/>
    <result column="HIT" property="hit"/>
    <result column="ATTACHYN" property="attachyn"/>
    <result column="RESERVATIONYN" property="reservationyn"/>
    <result column="MODIFYDATE" property="modifydate"/>
    <result column="USERID" property="userid"/>
    <result column="STARTDATE" property="startdate"/>
    <result column="ENDDATE" property="enddate"/>
    <result column="USERNO" property="userno"/>
    <result column="FILENO" property="fileno"/>
    <result column="NOTICEYN" property="noticeyn"/>
    <result column="ACTIVEYN" property="activeyn"/>
    <result column="TAG" property="tag"/>
    <result column="CONTENTMODE" property="contentmode"/>
    <result column="ENTRYDATE" property="entrydate"/>
    <result column="ENTRYDEPT" property="entrydept"/>
    <result column="FIXVIEW" property="fixview"/>
    <result column="NOTICESTARTDATE" property="noticestartdate"/>
    <result column="NOTICEENDDATE" property="noticeenddate"/>
    <result column="NOTICERESERVEYN" property="noticereserveyn"/>
    <result column="LOGINYN" property="loginyn"/>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from NOTICE
    where BOARDNO = #{boardno}
    and BOARDINFONO = #{boardinfono}
  </select>
  <select id="selectAllByCriteria" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from NOTICE
    where BOARDINFONO = '1'
    and BOARDNO in (select BOARDNO from NOTICEADMISSIONBOX where STAT = 'A' and NOTICE.BOARDINFONO = '1')
    order by BOARDNO ${sortBy}
    limit ${offset}, ${limit}
  </select>
  <sql id="Base_Column_List">
    BOARDNO,
    BOARDINFONO,
    TITLE,
    USERNAME,
    DEPTNAME,
    RANKNAME,
    "SECURITY",
    IMPORTANT,
    "STATE",
    "TYPE",
    REGISTDATE,
    HIT,
    ATTACHYN,
    RESERVATIONYN,
    MODIFYDATE,
    USERID,
    STARTDATE,
    ENDDATE,
    USERNO,
    FILENO,
    NOTICEYN,
    ACTIVEYN,
    TAG,
    CONTENTMODE,
    ENTRYDATE,
    ENTRYDEPT,
    FIXVIEW,
    NOTICESTARTDATE,
    NOTICEENDDATE,
    NOTICERESERVEYN,
    LOGINYN
  </sql>
  <update id="updateByPrimaryKey" parameterType="com.invenia.gwservice.api.notice.Notice">
    update NOTICE
    set TITLE = #{title},
    USERNAME = #{username},
    DEPTNAME = #{deptname},
    RANKNAME = #{rankname},
    "SECURITY" = #{security},
    IMPORTANT = #{important},
    "STATE" = #{state},
    "TYPE" = #{type},
    REGISTDATE = #{registdate},
    HIT = #{hit},
    ATTACHYN = #{attachyn},
    RESERVATIONYN = #{reservationyn},
    MODIFYDATE = #{modifydate},
    USERID = #{userid},
    STARTDATE = #{startdate},
    ENDDATE = #{enddate},
    USERNO = #{userno},
    FILENO = #{fileno},
    NOTICEYN = #{noticeyn},
    ACTIVEYN = #{activeyn},
    TAG = #{tag},
    CONTENTMODE = #{contentmode},
    ENTRYDATE = #{entrydate},
    ENTRYDEPT = #{entrydept},
    FIXVIEW = #{fixview},
    NOTICESTARTDATE = #{noticestartdate},
    NOTICEENDDATE = #{noticeenddate},
    NOTICERESERVEYN = #{noticereserveyn},
    LOGINYN = #{loginyn}
    where BOARDNO = #{boardno}
    and BOARDINFONO = #{boardinfono}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.invenia.gwservice.api.notice.Notice">
    update NOTICE
    <set>
      <if test="title != null">
        TITLE = #{title},
      </if>
      <if test="username != null">
        USERNAME = #{username},
      </if>
      <if test="deptname != null">
        DEPTNAME = #{deptname},
      </if>
      <if test="rankname != null">
        RANKNAME = #{rankname},
      </if>
      <if test="security != null">
        "SECURITY" = #{security},
      </if>
      <if test="important != null">
        IMPORTANT = #{important},
      </if>
      <if test="state != null">
        "STATE" = #{state},
      </if>
      <if test="type != null">
        "TYPE" = #{type},
      </if>
      <if test="registdate != null">
        REGISTDATE = #{registdate},
      </if>
      <if test="hit != null">
        HIT = #{hit},
      </if>
      <if test="attachyn != null">
        ATTACHYN = #{attachyn},
      </if>
      <if test="reservationyn != null">
        RESERVATIONYN = #{reservationyn},
      </if>
      <if test="modifydate != null">
        MODIFYDATE = #{modifydate},
      </if>
      <if test="userid != null">
        USERID = #{userid},
      </if>
      <if test="startdate != null">
        STARTDATE = #{startdate},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate},
      </if>
      <if test="userno != null">
        USERNO = #{userno},
      </if>
      <if test="fileno != null">
        FILENO = #{fileno},
      </if>
      <if test="noticeyn != null">
        NOTICEYN = #{noticeyn},
      </if>
      <if test="activeyn != null">
        ACTIVEYN = #{activeyn},
      </if>
      <if test="tag != null">
        TAG = #{tag},
      </if>
      <if test="contentmode != null">
        CONTENTMODE = #{contentmode},
      </if>
      <if test="entrydate != null">
        ENTRYDATE = #{entrydate},
      </if>
      <if test="entrydept != null">
        ENTRYDEPT = #{entrydept},
      </if>
      <if test="fixview != null">
        FIXVIEW = #{fixview},
      </if>
      <if test="noticestartdate != null">
        NOTICESTARTDATE = #{noticestartdate},
      </if>
      <if test="noticeenddate != null">
        NOTICEENDDATE = #{noticeenddate},
      </if>
      <if test="noticereserveyn != null">
        NOTICERESERVEYN = #{noticereserveyn},
      </if>
      <if test="loginyn != null">
        LOGINYN = #{loginyn},
      </if>
    </set>
    where BOARDNO = #{boardno}
    and BOARDINFONO = #{boardinfono}
  </update>
</mapper>
