<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invenia.gwservice.api.notice.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.invenia.gwservice.api.notice.Notice">
    <!--@Table NOTICE-->
    <result column="BOARDNO" property="boardNo"/>
    <result column="BOARDINFONO" property="boardInfoNo"/>
    <result column="USERNAME" property="userName"/>
    <result column="DEPTNAME" property="deptName"/>
    <result column="RANKNAME" property="rankName"/>
    <result column="REGISTDATE" property="registerDate"/>
    <result column="ATTACHYN" property="attachYN"/>
    <result column="RESERVATIONYN" property="reservationYN"/>
    <result column="MODIFYDATE" property="modifyDate"/>
    <result column="USERID" property="userId"/>
    <result column="STARTDATE" property="startDate"/>
    <result column="ENDDATE" property="endDate"/>
    <result column="USERNO" property="userNo"/>
    <result column="FILENO" property="fileNo"/>
    <result column="NOTICEYN" property="noticeYN"/>
    <result column="ACTIVEYN" property="activeYN"/>
    <result column="CONTENTMODE" property="contentMode"/>
    <result column="ENTRYDATE" property="entryDate"/>
    <result column="ENTRYDEPT" property="entryDept"/>
    <result column="FIXVIEW" property="fixView"/>
    <result column="NOTICESTARTDATE" property="noticeStartDate"/>
    <result column="NOTICEENDDATE" property="noticeEndDate"/>
    <result column="NOTICERESERVEYN" property="noticeReserveYN"/>
    <result column="LOGINYN" property="loginYN"/>
  </resultMap>
  <select id="selectAllByCriteria" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from NOTICE
    where BOARDINFONO = '1'
    and BOARDNO in (select BOARDNO from NOTICEADMISSIONBOX where STAT = 'A' and NOTICE.BOARDINFONO = '1')
    <if test="sortBy != null">
      order by BOARDNO ${sortBy}
    </if>
    <if test="limit != null">
      <choose>
        <when test="offset != null">
          limit ${offset}, ${limit}
        </when>
        <otherwise>
          limit 0, ${limit}
        </otherwise>
      </choose>
    </if>
  </select>
  <sql id="Base_Column_List">
    BOARDNO,
    BOARDINFONO,
    TITLE,
    USERNAME,
    DEPTNAME,
    RANKNAME,
    "SECURITY",
    IMPORTANT,
    "STATE",
    "TYPE",
    REGISTDATE,
    HIT,
    ATTACHYN,
    RESERVATIONYN,
    MODIFYDATE,
    USERID,
    STARTDATE,
    ENDDATE,
    USERNO,
    FILENO,
    NOTICEYN,
    ACTIVEYN,
    TAG,
    CONTENTMODE,
    ENTRYDATE,
    ENTRYDEPT,
    FIXVIEW,
    NOTICESTARTDATE,
    NOTICEENDDATE,
    NOTICERESERVEYN,
    LOGINYN
  </sql>
</mapper>
